<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home">
                    <i class="glyphicon glyphicon-home"></i> Home
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="~/Byod/Index" title="BYOD">
                            BYOD
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/RIRO/Index" title="RIRO">
                            RIRO
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="~/Employee/Create" title="Employee"><i class="glyphicon glyphicon-envelope"></i>Employee</a></li>
                            <li><a href="~/RequestedItem/Create" title="RequestedItem" ><i class="glyphicon glyphicon-envelope"></i>Requested Item</a></li>

                        </ul>
                    <li><a href="~/Home/About" title="About Us">About Us</a></li>
                    </ul>

            </div>
            
        </div>
    </div>


    <div class="body-content" ng-app="App">
        @RenderBody()
    </div>
    @Html.Partial("_PartialScript")
    @Html.Partial("_PartialCSS")
</body>
</html>

