<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/bower_components/angular/angular.min.js"></script>
        <script src="~/Scripts/Angular/app.module.js"></script>
        <script src="~/Scripts/Angular/Service/ByodService.js"></script>
        <script src="~/Scripts/Angular/Controller/ByodController.js"></script>
    </head>
    <body>

            <div>
                @RenderBody()
            </div>
</body>
</html>

