
<style>
   
     .about-title {
        width: 50%;
        height: 15%;
       
    }
     
     </style>

<div id="wrapper">
<div id="sidebar-wrapper">
       
    <center>
        <img src="~/Content/Andersonlogo.png" class="about-title">
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br>
       
            <ul class="sidebar-nav">
                
                    <li class="sidebar-brand">
                        <a href="~/Home/Index"> HOME</a>
                    </li>
                    <li class="dropdown">
                    <li class="sidebar-brand">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/RIRO/Index" title="RIRO"> RIRO  </a>
                        <ul class="dropdown-menu">
                            <li class="sidebar-brand">
                                <ul>
                                    <li class="sidebar-brand"><a href="~/Employee/Create">Employee</a></li>
                                    <li class="sidebar-brand"><a href="~/RequestedItem/Create">Requested Item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-brand">
                        <a href="~/Byod/Index" title="BYOD">
                            BYOD
                        </a>
                    </li>
                    <li class="sidebar-brand"><a href="~/Home/Aboutus" title="About Us">About Us</a></li>
                 </ul>
    </center>
    </div>
</div>