@{
    ViewBag.Title = "BYOD | Anderson Group PH";
}

    <div ng-controller="ByodController as model" ng-init="model.Initialise()">
        <div class="row">
            <div class="col-sm-4">
                <select ng-model="model.ListType" class="form-control" ng-change="model.Read">
                    <option value="1">Requested</option>
                    <option value="2">For Approval</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="~/Byod/Create" class="btn btn-info"><i class="glyphicon glyphicon-plus-sign"></i> New Request</a>
            </div>
        </div>
        <br />
        <br />
        <br />
        <!--Table-->
        <table class="table table-striped table-hover" id="tableid">

            <!--Table Header-->
            <thead style="background-color:transparent;">
                <tr id="info">

                    <th>Type of Device ID</th>
                    <th>Brand Name</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Serial Number</th>
                    <th></th>
                </tr>
            </thead>
            <!--End of Table Header-->
            <!--Table Content-->
            <tbody>
                <tr ng-repeat="Byod in model.Byods">

                    <td>
                        <span ng-bind="Byod.TypeOfDeviceId"></span>
                    </td>
                    <td>
                        <span ng-bind="Byod.BrandName"></span>
                    </td>
                    <td>
                        <span ng-bind="Byod.ContactNo"></span>
                    </td>
                    <td>
                        <span ng-bind="Byod.Email"></span>
                    </td>
                    <td>
                        <span ng-bind="Byod.SerialNumber"></span>
                    </td>
                    <td id="action">
                        <!--Update Button-->
                        <a ng-href="{{'/Byod/Update/' + Byod.ByodId}}" button data-toggle="modal" data-target="#method" style="color:blue;"><i class="glyphicon glyphicon-edit"></i>Update</a> &emsp;
                        <a ng-click="model.Delete(Byod)" button style="color:red;"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                        <!--End of Delete Button-->

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<!--MODALS AND SCRIPTS-->
<!--Modal for Add and Edit-->
<div class="modal fade" id="method" role="dialog">
    <div id="myNav" class="overlay">
        <div class="modal-dialog">
            <div class="modal-content" style="border-color:blue;">
            </div>
        </div>
    </div>
</div>