@{
    ViewBag.Title = "BYOD | List of Request";
}
<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/Content/anderson.jpg);
    }

    #tableid {
        padding-top: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: gray;
        border-width: 2px
    }

    tbody {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: gray;
        border-width: 2px;
        text-align: center;
    }
</style>

<body>
    <div class="wrapper">
        <br><br><br><br><br><br>
        <div ng-app="myApp" ng-controller="ByodController as model" ng-init="model.List()">
            @*<input type="hidden" value="byod.User.Username" />*@
            <br />
            <!--Table-->
            <table class="table table-striped table-hover" id="tableid">
                <!--Table Header-->
                <thead style="background-color:transparent;">
                    <tr id="info">
                        <th>Type of Device ID</th>
                        <th>Brand Name</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                        <th>Serial Number</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Byod in model.Byods | orderBy: UserId">

                        <td>    
                            <span ng-bind="Byod.TypeOfDeviceId"></span>
                        </td>
                        <td>
                            <span ng-bind="Byod.BrandName"></span>
                        </td>
                        <td>
                            <span ng-bind="Byod.ContactNo"></span>
                        </td>
                        <td>
                            <span ng-bind="Byod.Email"></span>
                        </td>
                        <td>
                            <span ng-bind="Byod.SerialNumber"></span>
                        </td>
                        <td id="action">
                            <p style="color:red; letter-spacing: 2px;"><i class="glyphicon glyphicon-tasks">&emsp; Pending</i></p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <!--end-->

    <div class="" style="border-color:blue;">
        <center>
            <a class="btn" href="~/Byod/Index" style="font-size:20px; font-weight:bolder; font-family:Georgia;">Back</a>
        </center>
    </div>

</body>                 