
@{
    ViewBag.Title = "Update";
   /* Layout = null; */
}

@*Modal header of Edit*@
<div class="modal-header"  style="border-color:blue;">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <center><h3 style="color:black; font-family: 'ADAM.CG PRO';"> Update </h3></center>
</div>
<br />
<form action="~/Byod/Update" method="post">
    <br />
        @Html.Partial("~/Views/Byod/_Form.cshtml")
</form>
 <br />