@{
    ViewBag.Title = "About Us";
}

<!--About Us Header-->
<br /><br /><br /><br /><br /><br /><br />
<center><h2 style="font-family:Arial; font-weight:bold; letter-spacing:40px; color:blue; text-transform:uppercase;">@ViewBag.Title</h2></center>
<br /><br /><br />
<!--End of About Us Header-->
<!--About Us Content-->
<div class="wrapper">
    <center>
        <div class="well well-lg" style=" background-image:url(../../Content/anderson.jpg); background-repeat:no-repeat; background-position:center;background-size:cover;">

            <!--About Us Photo and Title-->
            <img src="~/Content/Andersonlogo.png" height="100" width="100" /> <h1 style=" font-family:Georgia; font-size:30px;font-weight:bold;">@ViewBag.Message </h1>
            <!--End of About Us Photo and Title-->
            <!--About Us Developers-->
            <hr width="80%" />
            <strong><span class="glyphicon glyphicon-user"></span> Developers:</strong>
            <p style="letter-spacing:1px;color:black; font-family:Georgia;">
                Rowena Daisy A. Tecson | &nbsp;Christian Al A. Gonzalvo | &nbsp;Donalyn L. Evangelista | &nbsp;  Nina Marie C. Bautista |
                Zymon Peter Q. Bergania | &nbsp; Mary Joyce F. Guitering | &nbsp; Namra Lei Angeles |
                Racylyn Garcia | &nbsp; Ray Julian Bay | &nbsp; Jayson Alico
            </p>
        </div>
        <!--End of About Us Developers-->
    </center>
</div>

<!--End of About us Content-->
<!--About Footer-->
<br /><br /><br />
<div class="wrapper"><footer><hr width="100%" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &copy; @DateTime.Now.Year - ANDERSON GROUP BPO INC.</footer></div>
<!--End of About Footer-->