<style>
     h3{
         font-family:Verdana;
          font-weight:bold;
           font-size:36px;
           color:black;
          text-transform:uppercase;
        }
     h2{
         padding-top:20px;
         font-family:Arial;
          font-weight:bold;
           letter-spacing:40px; 
           color:blue;
          text-transform:uppercase;
        }
     p{
         font-family:Verdana;
         font-style:italic;
     }
    
    </style>

@{
    ViewBag.Title = "About Us";
   
}
<center>
    <div id="wrapper">

        <h2>
            @ViewBag.Title
        </h2>


        <div id="page-content-wrapper">
         
                <div class="row">
                    <div class="col-lg-12">
                        <h3>ANDERSON FORMS</h3>
                        <p>
                            Anderson Forms is a system designed for the forms of Roll-in, Roll-out.
                            The system includes different projects namely BYOD(Bring your own device), Accounts, and RI(Roll-in) then integrated into one form.
                            Anderson Forms is a form system that is directed to the new employees of the company.
                        </p>


                    </div>
                 </div>
            <div>

                <strong><span class="glyphicon glyphicon-user"></span> Developers:</strong>
                <p style="letter-spacing:1px;color:black; font-family:Georgia;">
                    <a href="http://andersongroup.ph">Rowena Daisy A. Tecson</a>
                    <a href="http://andersongroup.ph">| &nbsp;Zymon Peter Q. Bergania </a>
                    <a href="http://andersongroup.ph">| Mary Joyce F. Guitering </a><br>

                    <a href="http://andersongroup.ph">|Namra Lei Angeles </a>
                    <a href="http://andersongroup.ph">| &nbsp;Racylyn Garcia </a>
                    <a href="http://andersongroup.ph">| &nbsp;Ray Julian Bay </a><br>

                    <a href="http://andersongroup.ph">| &nbsp;Jayson Alico </a>
                    <a href="http://andersongroup.ph">| &nbsp;Donalyn L. Evangelista </a>
                    <a href="http://andersongroup.ph">| &nbsp;Nina Marie C. Bautista </a>

                </p>
            </div>
        </div>
    </div>
</center>
