
/*Layout*/
body {
    padding-right: 15px;
    padding-left:15px;
     background-color:lightgray;
        height:100%;
}

.body-content {
   padding-top: 0;
    padding-right: 0px;
}

/*Layout*/

.row {
    padding-bottom: 15px;
}

